<% provide(:title, @user.name) %>
<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
      <% if logged_in? %>
      <h1>Welcome, <%= current_user.name %>!</h1>
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to login_path %>
    <% end %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Upcoming Events</h2>
        <td><%= link_to "#{@event.location}", @event %></td>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Do you want to create an event?</h2>
        <%= link_to "Create Event", new_event_url %>
      </div>
    </div>
  </div>
</div>