<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
      <% if logged_in? %>
      Welcome, <%= current_user.name %>!
      <%=link_to  logout_path %>
    <% else %>
      <%= link_to login_path %>
    <% end %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Sign Up</h2>
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Sign In</h2>
        
          <div class="row">
            <div class="span6 offset3">
              <%= form_for(:session, url: sessions_path) do |f| %>

                <%= f.label :name %>
                <%= f.text_field :name, class: "input" %>

                <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
              <% end %>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

