<% provide(:title, @user.name) %>
<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
      <% if logged_in? %>
      <h1>Welcome, <%= current_user.name %>!</h1>
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Log in", users_new_path %>
    <% end %>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Users</h2>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td></br>
            </tr>
          <% end %>
      </div>
    </div>
  </div>
</div>



<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
      <h2 class="title is-2 is-spaced has-text-centered">My Events</h2>
      <td><%= session[:user_id] %></td></br>
      <% if @event.creator_id == session[:user_id] %>
        <tr>
        <td><%= @event %></td></br>
          <% @events.each do |event| %>
          
            
              <td><%= event.location %></td></br>
              <td><%= event.date %></td></br>
          <% end %>
        </tr>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Attending Events</h2>

      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Upcoming Events</h2>

      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Previous Events</h2>
        <%= @events = Event.where('start <= ?', Date.today).order(:start) %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Upcoming Events</h2>
        <td><%= @event.location %></td>
      </div>
    </div>
  </div>
</div>