<% provide(:title, @user.name) %>
<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
      <% if logged_in? %>
      Welcome, <%= current_user.name %>!
      <%=link_to  logout_path %>
    <% else %>
      <%= link_to login_path %>
    <% end %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">All the Events</h2>
        <% @events.each do |event| %>
            <tr>
              <td><%= event.location %></td></br>
              <td><%= event.date %></td></br>
            </tr>
        <% end %>
      </div>
    </div>
  </div>
</div>




<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Upcoming Events</h2>
        <%= @event.all %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Previous Events</h2>
        <%= @event.all %>
      </div>
    </div>
  </div>
</div>