<% provide(:title, @user.name) %>
<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
      <% if logged_in? %>
      <h1>Welcome, <%= current_user.name %>!</h1>
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to login_path %>
    <% end %>
      </div>
    </div>
  </div>
</div>

<%= @events %>
<h2>"Welcome,"</h2>

<h2>"create your events here"</h2>
<%= render 'form', event: @event %>